<li class="list-group-item burger-item">
    {{burger_name}}
    <button class="btn devour-button" data-id="{{id}}" data-devour="{{devour}}">
        {{#if devour}}UNDEVOUR!{{else}}DEVOUR!{{/if}}
    </button>
</li>